# byte-compiled and optimized
__pycache__/
*.py[cod]

# notebook checkpoints
.ipynb_checkpoints/

# specific directories created by running experiments
logs/
posteriors/
priors/
results/

# data formats which we do not want to track
*.npy
*.pkl
*.h5
